* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: rgb(48, 48, 48);
	color: rgb(249, 249, 249);
	font-size: 16px;
	font-weight: 300;
}

body {
	font-family: 'Inter', Helvetica, Arial, Sans-Serif;
	background-size: cover;
	overflow: hidden;
}

main {
	background: url("/img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

.wrapper {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

/* Helper/Utility */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.between {
	display: flex;
	justify-content: space-between;
}

.center {
	display: flex;
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

.start {
	justify-content: flex-start;
}

/* Navigation Bar */
.navBar {
	align-items: flex-end;
	justify-content: space-between;
}

h3 {
	font-family: 'Inter', sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
	color: white;
}

.search-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	width: fit-content;
	margin-bottom:-16px;
}

#searchIcon {
	padding: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.384);
  opacity: 1; /* Firefox */
}

input {
	background: url("/img/icon/search.SVG") no-repeat left;
	background-size: 16px;
	font-family:"Inter", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	width: 240px;
	height: 44px;
	background-color: transparent;
	color: white;
	border: none;
	padding-left: 28px;
	margin-right: 8px;
	border-bottom: 2px solid transparent;
	transition: all .225s ease-in;
}

input:focus {
	outline: none;
	border-bottom: 2px rgba(255, 255, 255, 0.685) solid;
	transition: all .195s ease-in-out;
}

input:focus::placeholder {
  color: transparent;
}

/* Icon and Weather Description */
.left-wrapper {
	margin-right: 32px;
}

#description {
	font-weight: 500;
	margin-top: 4px;
}

/* Temperature */
#temperature {
	font-size: 3rem;
	font-weight: 600;
	margin-right: 16px;
}

/* Location, Weather Data */
#location {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 4px;
}

.wrapper-right {
	margin-bottom: 20px;
}

.subhead {
	font-weight: 500;
}

.mini-card {
	margin-right: 60px;
	margin-bottom: 16px;
}

.fw-l {
	font-weight: 300;
}

#date {
	font-size: 0.8rem;
	font-weight: 300;
}

.divider {
	margin-top: 16px;
	margin-bottom: 32px;
	width: 100vw;
	border-bottom: 1px rgba(238, 238, 238, 0.342) solid;
}

button {
	padding: 12px 16px 12px 16px;
	width: 40px;
	height: 40px;
	border: 1px rgba(255, 255, 255, 0.658) solid;
	background-color: rgba(24, 24, 24, 0);
	color: white;

}

/* 8-day Forecast */
.subheader-forecast {
	margin-bottom: 16px;
}

#forecast {
	margin-left: 32px;
	margin-right: 32px;
}

.dayCard {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(255, 255, 255, 0.55);
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(8px);
	border-radius: 4px;
	width: 11%;
	height: 100px;
	margin-bottom: 16px;
	padding: 2px;
	transition: background-color .225s ease-out;
}

#cards {
	justify-content: center;
	gap: 20px;
}

.dayCard:hover {
	background-color: rgba(0, 0, 0, 0.1);
	transition: background-color .225s ease-out;
}

.subheader-wrapper {
	display: flex;
	flex-direction: row;
}

.card-header {
	font-size: 1rem;
	margin-top: 8px;
	margin-left: 8px;
}

.icons {
	width: 32px;
	height: 32px;
	margin-left: 2px;
}

.desc {
	font-size: 0.9rem;
	font-weight: 400;
	margin-top: 6px;
	margin-bottom: 12px;
}

@media screen and (max-width: 1080px) {
}